# Version control
.git
.gitignore

# IDE
.idea
.vscode

# Python
__pycache__
*.pyc
*.pyo
*.pyd
venv/
env/

# Environment & secrets
.env
.env.*
!.env.example

# Django
*.log
db.sqlite3
staticfiles/
media/

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# OS
.DS_Store