{% load static %}
{% load ec2_filters %}

<li class="instance-item"
    data-instance-name="{{ instance.name|slugify }}"
    data-status="{{ instance.status }}"
    data-public-ip="{{ instance.public_ip|default:'' }}"
    data-time-remaining="{{ instance.time_remaining|default:'' }}">
	<div class="instance">
		<div class="left">
			<h2>{{ instance.name|pretty_name }}</h2>
			<p>{{ instance.description }}</p>
			<div class="button-wrapper">
				<button class="start-instance" data-instance-name="{{ instance.name }}">Start</button>
				<button id="{{ instance.name|slugify }}-view-site" class="hidden" data-url="">View Site</button>
			</div>
		</div>
		<div class="right">
			<div class="top-row">
				<div class="status-wrapper">
					<h3>Status:</h3>
					<div class="statuses-wrapper">
						<div class="individual-status">
							<span>EC2 Instance:</span>
							{% if instance.status == 'pending' %}
							<span id="{{ instance.name|slugify }}-status"
							      class="status {{ instance.status|default:'unknown'|status_class }}">Starting...</span>
							{% else %}
							<span id="{{ instance.name|slugify }}-status"
							      class="status {{ instance.status|default:'unknown'|status_class }}">{{ instance.status|default:"Unknown"|title }}</span>
							{% endif %}
						</div>
						<div class="individual-status hidden" id="{{ instance.name|slugify }}-app-status-wrapper">
							<span>Application:</span>
							<span id="{{ instance.name|slugify }}-app-status" class="status-pending">Checking...</span>
						</div>
					</div>
					<div class="bottom-row">
						<div id="{{ instance.name|slugify }}-time-remaining-wrapper" class="hidden">
							<span>Time remaining:</span>
							<span id="{{ instance.name|slugify }}-time-remaining"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</li>