{% load static %}
{% load ec2_filters %}

{% block css_files %}
<link rel="stylesheet" href="{% static "ec2_starter/instance.css" %}"/>
{% endblock %}

{% block js_files %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'ec2_starter/ui-update-handler.js' %}"></script>
<script src="{% static 'ec2_starter/websocket-handler.js' %}"></script>
<script src="{% static 'ec2_starter/instance-control.js' %}"></script>
<script>
	window.CSRF_TOKEN = '{{ csrf_token }}';
	window.START_INSTANCE_URL = '{% url "start-instance" %}';
</script>
{% endblock %}

<li>
	<div class="instance">
		<div class="left">
			<h2>{{ instance.name|title }}</h2>
			<p>{{ instance.description }}</p>
			<div class="button-wrapper">
				<button class="start-instance" data-instance-name="{{ instance.name }}">Start</button>
				<button id="{{ instance.name|slugify }}-view-site"
				        class="{% if instance.status != 'running' %}hidden{% endif %}">View Site
				</button>
			</div>
		</div>
		<div class="right">
			<div class="top-row">
				<div class="status-wrapper">
					<h3>Status:</h3>
					<div class="statuses-wrapper">
						<div class="individual-status">
							{% if instance %}
							<span>EC2 Instance:</span>
							{% if instance.status == 'pending' %}
							<span id="{{ instance.name|slugify }}-status"
							      class="status {{ instance.status|default:'unknown'|status_class }}">Starting...</span>
							{% else %}
							<span id="{{ instance.name|slugify }}-status"
							      class="status {{ instance.status|default:'unknown'|status_class }}">{{ instance.status|default:"Unknown"|title }}</span>
							{% endif %}
							{% else %}
							<span class="status status-unknown">Unknown</span>
							{% endif %}
						</div>
						<div class="individual-status">
							<span>Application:</span>
						</div>
					</div>
					<div class="bottom-row">
						<div id="{{ instance.name|slugify }}-time-remaining-wrapper"
						     class="{% if instance.status != 'running' %}hidden{% endif %}">
							<span>Time remaining:</span>
							<span id="{{ instance.name|slugify }}-time-remaining">
        {{ instance.time_remaining }}
       </span>
							{% if instance.status == 'running' and instance.time_remaining %}
							<script>
								// Global variables using Django context data
								const timeRemainingSeconds = {{ instance.time_remaining }};
								const instanceName = "{{ instance.name|slugify }}";
							</script>
							<script src="{% static 'ec2_starter/update-time-remaining.js' %}"></script>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</li>