@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.status-running {
  color: #28a745;
}

.status-stopped {
  color: #d00909;
}

.status-pending, .status-stopping {
  animation: pulse 2s ease-in-out infinite;
}

.instance {
  display: flex;
  width: 50%;
  min-width: 50rem;
  min-height: 15rem;
  background-color: #ffffff;
  padding: 1.5rem 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.instance h2,
.instance h3 {
  font-weight: normal;
  margin: 0 0 1rem 0;
}

.instance h2 {
  font-size: 2rem;
}

.instance h3 {
  font-size: 1.5rem;
}

.instance p,
.instance span {
  margin: 0 0 1rem 0;
}

.instance span {
  display: inline-block;
}

.instance button {
  width: 10rem;
  height: 3rem;
  background: #ffffff;
  color: #0AABF6;
  font-size: 1.25rem;
  border: 1px solid #0AABF6;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-right: 1rem;
}

.instance button:hover {
  cursor: pointer;
  background-color:  #0AABF6;
  color: #ffffff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}

.left {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  border-right: #4974A5 solid 0.1rem;
  padding-right: 1rem;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 3rem;
}

.top-row, .bottom-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.top-row span:first-child,
.bottom-row span:first-child {
  min-width: 120px;
  /*text-align: right;*/
  margin-right: 1rem;
}

.top-row span:last-child,
.bottom-row span:last-child {
  text-align: left;
}

.status-wrapper {
  display: flex;
  flex-direction: column;
}

.individual-status {
  justify-content: space-between;
}