@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #E0F4FA;
  padding: 5rem 18rem;
  color: #4974A5;
  font-weight: normal;
}