{% extends "base.html" %}

{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "ec2_starter/index.css"%}"/>
<link rel="stylesheet" href="{% static "ec2_starter/instance.css"%}"/>
{% endblock %}

{% block title %}
Amazon EC2 Instance Starter
{% endblock %}

{% block content %}
<h1>Amazon EC2 Instance Starter</h1>

<ul>
	{% for instance in instances %}
	{% include "ec2_starter/includes/instance.html" %}
	{% endfor %}
</ul>
{% endblock %}

{% block js_files %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'ec2_starter/ui-update-handler.js' %}"></script>
<script src="{% static 'ec2_starter/websocket-handler.js' %}"></script>
<script src="{% static 'ec2_starter/instance-control.js' %}"></script>
<script>
	window.CSRF_TOKEN = '{{ csrf_token }}';
	window.START_INSTANCE_URL = '{% url "start-instance" %}';
</script>
{% endblock %}